.container {
  background: linear-gradient(135deg, #1f1f1f, #0d0d0d);
  color: #fff;
  max-width: 1440px;
  margin: auto;
  border-radius: 8px;
}

.formsection {
  background: #000;
  color: #fff;
  padding: 3rem 2rem;
  max-width: 1000px;
  margin: 5rem auto;
  border-radius: 8px;
}

.heading {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.row {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.field {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.field label {
  font-size: 0.9rem;
  text-transform: uppercase;
  font-weight: bold;
}

.field input,
.field select,
.field textarea {
  padding: 0.8rem;
  border: 1px solid #444;
  border-radius: 6px;
  background: #111;
  color: #fff;
  font-size: 0.95rem;
}

.field input::placeholder,
.field textarea::placeholder {
  color: #777;
}

.field input:focus,
.field select:focus,
.field textarea:focus {
  border-color: #fff;
  outline: none;
}

.phoneInput {
  display: flex;
  gap: 0.5rem;
}

.phoneInput select {
  width: 25%;
}

.phoneInput input {
  flex: 1;
}

.radioGroup {
  display: flex;
  gap: 1.5rem;
  margin-top: 0.5rem;
}

.radioGroup label {
  font-size: 0.95rem;
  font-weight: normal;
}

.submitBtn {
  background-color: #444;
  color: #fff;
  padding: 0.9rem;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  margin-top: 1rem;
  transition: all 0.3s ease;
}

.submitBtn:hover {
  background: #fff;
  color: #000;
}

@media (max-width: 768px) {
  .row {
    flex-direction: column;
  }
  .heading {
    font-size: 1.6rem;
  }
  .formsection {
    padding: 2rem 0.5rem;
    margin: auto;
    border-radius: 0px;
  }
  .submitBtn {
    width: 100%;
  }
}