@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

.awards {
  padding: 2rem 50px 0rem;
  text-align: center;
  background: #fff;
  font-family: 'poppins',sans-serif;
  box-sizing: border-box;
  overflow-x: hidden;
  max-width: 1440px;
  margin: auto;
}

.title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  color: #111;
}

.subtitle {
  font-size: 1rem;
  color: #666;
  margin-bottom: 2.5rem;
}

.slider {
  width: 100%;
  padding-bottom: 2rem;
}

.card {
  display: flex;
  flex-direction: column;
  background: #000;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease;
  height: 100%;
  margin-bottom: 1rem;
}

.imageWrapper {
  width: 100%;
  height: 220px;
  overflow: hidden;
}

.awardImage {
  border-radius: 12px 12px 0 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.4s ease;
}

.awardImage:hover {
  transform: scale(1.05);
}

.content {
  padding: 1rem;
  text-align: left;
  color: #fff;
}

.cardTitle {
  font-size: 1.1rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.cardDesc {
  font-size: 0.9rem;
  line-height: 1.4;
  color: #ddd;
}

@media (max-width: 1024px) {
  .imageWrapper {
    height: 250px;
  }
}

@media (max-width: 640px) {
  .awards {
    padding: 1rem 0.5rem 1rem;
  }

  .title {
    font-size: 1.6rem;
  }

  .subtitle {
    font-size: 0.9rem;
  }

  .cardTitle {
    font-size: 1rem;
  }

  .cardDesc {
    font-size: 0.85rem;
  }

  .imageWrapper {
    height: 300px;
  }
}