@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

.navbar {
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  background: rgba(30, 30, 30, 0.7); 
  box-shadow: 0px 2px 6px rgba(0,0,0,0.3);
  color: #f1f1f1 !important; 
  z-index: 100;
  max-width: 1440px;
  margin: auto;
  overflow-x: hidden;
  backdrop-filter: blur(6px); 
  font-family: 'poppins',sans-serif;
}


.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;
}

.logoWrapper {
  display: flex;
  align-items: center;
}

.logo {
  height: 35px;
  width: auto;
}

.links {
  display: flex;
  gap: 40px;
}

.link {
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  font-family: Poppins, sans-serif;
  text-decoration: none;
  transition: color 0.3s ease;
}
.link:hover {
  color: #3b82f6;
}

.userIcon {
  color: #fff;
  cursor: pointer;
  transition: color 0.3s ease;
}
.userIcon:hover {
  color: #3b82f6;
}

.hamburger {
  display: none;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
}

.mobileMenu {
  display: none;
  flex-direction: column;
  background: #4b4b4b;
  padding: 16px 24px;
  gap: 16px;
  border-radius: 0 0 12px 12px;
  transform: translateY(-20%);
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.mobileMenu.open {
  display: flex;
  opacity: 1;
  transform: translateY(0);
}

.mobileLink {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s ease;
}
.mobileLink:hover {
  color: #3b82f6;
}

.mobileUser {
  margin-top: 8px;
  color: #fff;
}

@media (max-width: 768px) {
  .links {
    display: none;
  }
  .userIcon {
    display: none;
  }
  .hamburger {
    display: block;
  }
}